# Ignoruj duże pliki ipch
labirynt/.vs/gkiw_st_06_win/v17/ipch/AutoPCH/MAIN_FILE.ipch
labirynt/.vs/gkiw_st_06_win/v17/ipch/AutoPCH/fd3a177996173a75/MAIN_FILE.ipch
labirynt/.vs/gkiw_st_06_win/v17/ipch/AutoPCH/e8f346094a4acc99/MAIN_FILE.ipch
labirynt/.vs/gkiw_st_06_win/v17/ipch/AutoPCH/ab65e05bfca443db/MAIN_FILE.ipch
labirynt/.vs/gkiw_st_06_win/v17/ipch/AutoPCH/90cd494e7168fea3/MAIN_FILE.ipch
